body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 20px 0;
}

legend {
    padding: 0 10px;
    font-weight: bold;
}

label {
    margin: 10px 0;
    display: block;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
}

.cabezera {
    display: flex;
    justify-content: space-between; /* Esto separa las dos cajas */
    flex-wrap: wrap; /* Permite que las cajas se envuelvan si el espacio es insuficiente */
    align-items: center;
}

.caja-50 {
    width: 48%; /* 48% para dejar un poco de espacio entre las cajas */
    box-sizing: border-box; /* Asegura que el padding y border estén incluidos en el ancho */
}

.caja-50 div {
    display: flex;
    margin-bottom: 10px; /* Espacio entre los inputs y sus labels */
}

.caja-50 label, .caja-50 input {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    margin: 0px 5px;
    margin-bottom: 5px; /* Espacio después de cada label */
}

.caja-50 input {
    padding: 8px;
    margin-bottom: 10px; /* Espacio después de cada input */
    border: 1px solid #ccc;
    border-radius: 4px;
}
