body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 20px 0;
}

legend {
    padding: 0 10px;
    font-weight: bold;
}

label {
    margin: 10px 0;
    display: block;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
}

.Cabezera {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Personaje {
    width: 50%;
    padding: 0 .5%;
}
